.coin-container {
  justify-content: center;
  display: flex;
}

.coin-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  border-bottom: 500px blue;
  text-align: center;
}

.coin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin > img {
  height: 30px;
  margin-right: 50px;
}

.coin > h1 {
  font-size: 20px;
  text-align: left;
  width: 150px;
}

.coin-symbol {
  font-size: medium;
  font-weight: bold;
  text-transform: uppercase;

  width: 150px;
}

.coin-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin-price,
.coin-volume,
.coin-percent,
.coin-marketcap {
  font-size: 15px;
  display: flex;
  flex-direction: column;

  width: 150px;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.mkCap {
  margin-right: 15px;
  margin-left: 15px;
  color: #daa520;
}
